footer {
    & div:first-child {
        text-align: center;
    }

    & div:nth-child(3) {
        padding-top: 0.5rem;
    }

    & span {
        font: var(--text-sm);
        color: var(--text-color-secondary);
    }

    & a {
        font: var(--text-sm);
        color: var(--text-color-secondary);
}
}


@media (width >= 80em) {
    footer {
        & div:nth-child(2) {
            display: flex;
            margin-right: auto;
        }

    .desktop-footer {
        display: flex;

    }

    & span {
        margin-right: 53.5rem;
    }
}
}