#child-informations {
    & legend {
        font: var(--text-sub);
        color: var(--text-primary);
    }
}

#home-adress {
    & legend {
        font: var(--text-sub);
        color: var(--text-primary);
    }
}

#info-responsible {
    & legend {
        font: var(--text-sub);
        color: var(--text-primary);
    }
}

#enrollment-options {
    & legend {
        font: var(--text-sub);
        color: var(--text-primary);
    }
}