#aside {
    & > div {
        & #most {
            font: var(--text-sm2);
            color: var(--text-color-secondary);
        }

        & > span {
            margin-right: auto;
        }

        & a:nth-child(2) {
            gap: 0.25rem;
        }
    }

    & #arrow {
        width: 1rem;
        height: 1rem;
    }

    & img {
        width: 5rem;
        height: 5rem;
    }

    & h2 {
        margin-top: 0.5rem;

        font: var(--text-md);
        color: var(--text-color-primary);
    }

    & p {
        font: var(--text-sm3);
        color: var(--text-color-secondary);
    }
}

@media (width >= 80em) {
    #aside {
        & div {
            margin-bottom: 1.38rem;
        }

       & h2 {
        font: var(--text-sm);
       }

       & .blue-box {
        width: 9.5rem;
        /* height: 1.25rem; */
    }

    }
}