.card {
    border-radius: 0.25rem;
    overflow: hidden;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        top: 50%;
        background: linear-gradient(
            180deg,
            transparent 0%,
            #020617 100%
        );
    }
}

.card-2{
    border-radius: 0.25rem;
    overflow: hidden;
    position: relative;
}


figcaption {
    text-align: left;

    position: absolute;
    bottom: 0;

    padding: 1rem;

    & #title-1 {
        font: var(--text-lg);
        color: var(--text-color-primary);
    }

    & h2 {
        font: var(--text-sm2);
        color: var(--text-color-primary);
        margin-top: 0.5rem;
    }
}