*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

:root {
    --brand-color-light: #60A5FA;
    --brand-color-dark: #1D4ED8;
    --bg-color: #0F172A;
    --stroke-color: #1E293B;
    --text-color-primary: #F1F5F9;
    --text-color-secondary: #CBD5E1;

    --font-family: "Archivo", sans-serif;
    --text-lg: 800 1.5rem/135% var(--font-family);
    --text-md: 800 1rem/140% var(--font-family);
    --text-sm: 800 0.875rem/140% var(--font-family);
    --text-sm2: 600 0.875rem/145% var(--font-family);
    --text-sm3: 400 0.875rem/160% var(--font-family);

    --py-header: 1rem 0.875rem;
    --py-highlights: 1rem 2rem;
    --py-most-read: 1rem 2rem;
    --py-ia: 1rem 1rem;
    --py-ads: 1rem 2rem;
    --py-aside: 1rem;

    --px-lg: 1rem;
}

.divider {
    border: solid 1px var(--stroke-color);
}

ul [role="list"] {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color-primary);
}

@media (width >= 80em) {
    :root {
        --text-lg: 800 2rem/135% var(--font-family);
        --text-md: 800 1.5rem/140% var(--font-family);
        --text-sm:  800 1rem/140% var(--font-family);
        --text-sm2: 600 1rem/145% var(--font-family);
        --text-sm3: 400 1rem/160% var(--font-family);

        --py-header: 1.25rem 1.25rem;
        --py-highlights: 1.25rem 5rem;
        --py-most-read: 1rem 6.5rem;

        --px-lg: 2rem;
    }
}